
body.dark .bienvenida {
    font-family: ChakraPetch-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
    width: 100%;
    height: 23px;
    display: flex;
    flex-direction: space-between;
    width: 100%;
    padding-top: 5px;
}

body.dark .contenedor-creargif {
    width: 684px;
    height: 386px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; 
}

body.dark .titulo-crear {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.parrafo {
    font-family: ChakraPetch-Regular;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    line-height: 20px;
    width: 518px;
    height: 190px;
}

h3 {
    font-family: ChakraPetch-Bold;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}