gitbody {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark {
    background-color: #110038;
}

body.dark .bienvenida {
    font-family: ChakraPetch-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
    width: 100%;
    height: 23px;
    display: flex;
    flex-direction: space-between;
    width: 100%;
    padding-top: 5px;
}


body.dark header {
        display: flex;
        width: 100%;
}

body.dark .contenedor-img {
    display: flex;
    flex-direction: flex-start;
    width: 50%;
    padding-left: 70px;
    padding-top: 50px;
}

body.dark .titulo-dark{
    display: block;
    padding-left: 25px;
}

body.dark .menu {
    display: flex;
    flex-direction: flex-end;
    width: 50%;
    padding-top: 30px;
}

body.dark ul {
    display: flex;
  
}

body.dark li {
    display: flex;
    flex-direction: flex-end;
    padding: 15px;
}

body.dark .select-container .elegir-tema {
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    width: 131px;
    height: 36px;
    margin: 0px;
}


body.dark .select-container .elegir-tema:hover {
    border: 1px solid #110038;
    cursor: pointer;
}

body.dark p {
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

body.dark .icon fas fa-caret-down{
    margin: 0;
}

body.dark .flechita {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 36px;
    height: 36px;
}

body.dark .boton-select {
    display: flex;
    flex-direction: column;
}

body.dark .opciones {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    height: 102px;
    width: 170px;
}

body.dark .opciones [data-toggle="collapsed"]{
        display: none;
}
body.dark .opcion {
    width: 150px;
    height: 36px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    margin-top: 10px;
    margin-left: 10px;
}

body.dark .opcion:hover {
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
}

body.dark .sailor {
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    padding-left: 25px;
    width: 100%;
    height: 100%;
}

body.dark .crear  {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; 
    width: 144px;
    height: 36px;
}

body.dark .crear-gifos {
    text-decoration: none;
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

body.dark .crear:hover{
    cursor: pointer;
    border: 1px solid #110038;
}

body.dark .misgifos {
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
}

body.dark h1{
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    width: 100%;
    height: 24px;
    padding: 3px 0px;
}

body.dark #buscador {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    width: 1200px;
    margin-top: 25px;
    padding: 0px 0px;
}

.wrap-search {
    display: flex;
    width: 100%;
    padding: 10px 12px;
}
.wrap-search input#input-search {
    height: 29px;
    width: 86%;
    margin-right: 10px;
} 
.wrap-search button {
    display: flex;
    width: 129px;
    align-items: center;
} 
.wrap-search button p {
    margin: auto
}